asyncio==3.4.3
asyncpg==0.23.0
attrs==20.3.0
cffi==1.14.5
Command==0.1.0
discord==1.0.1
discord-webhook==0.13.0
discord.py==1.5.1
dnspython==1.16.0
giphy-client==1.0.0
httpx==0.16.1
pipreqs==0.4.10
python-dateutil==2.8.1
requests==2.25.1

